<div class="tos-container">
    <h1>Privacy Policy</h1>
    <p><strong>Effective Date:</strong> June 17, 2024</p>

    <h2>1. Introduction</h2>
    <p>Welcome to Fumes ("we", "our", "us"). We value your privacy and are committed to protecting your personal data.
        This Privacy Policy explains how we collect, use, and safeguard your information when you use our mobile
        application (the "App").</p>

    <h2>2. Information We Collect</h2>

    <h2>2.1 Personal Identification Information</h2>
    <p>We may collect personal identification information from users in various ways, including, but not limited to,
        when users register on the App, subscribe to a newsletter, and in connection with other activities, services,
        features, or resources we make available on our App. Users may be asked for their name, email address, and other
        relevant details.</p>

    <h2>2.2 User Data</h2>
    <p>We collect data related to:</p>
    <ul>
        <li>Vehicles</li>
        <li>Income</li>
        <li>Expenses</li>
        <li>Damage reports</li>
        <li>Any other data that users input into the App</li>
    </ul>

    <h2>3. How We Use Collected Information</h2>

    <h2>3.1 Email Communication</h2>
    <p>To validate users when they register or log in to the App.</p>
    <p>To contact users and inform them of events or updates relevant to their use of the App.</p>

    <h2>3.2 User Data Usage</h2>
    <p>To provide and improve our services.</p>
    <p>To generate insights and analytics to enhance user experience.</p>

    <h2>4. Data Sharing and Selling</h2>

    <h2>4.1 Current Practices</h2>
    <p>We do not currently sell any user data. Personal identifying data is encrypted and stored securely and will never
        be shared with third parties without user consent.</p>

    <h2>4.2 Future Possibilities</h2>
    <p>While we do not sell user data at this time, future business practices may include offering anonymized and
        aggregated data to third parties. If we decide to sell user data in the future, we will update this Privacy
        Policy and inform users in advance, providing them with the opportunity to opt-out.</p>

    <h2>5. Data Security</h2>
    <p>We adopt appropriate data collection, storage, and processing practices and security measures to protect against
        unauthorized access, alteration, disclosure, or destruction of your personal information, username, password,
        transaction information, and data stored on our App.</p>

    <h2>6. User Rights</h2>
    <p>You have the right to:</p>
    <ul>
        <li>Access your personal data.</li>
        <li>Request correction of any inaccuracies.</li>
        <li>Request deletion of your personal data.</li>
        <li>Object to the processing of your data.</li>
        <li>Withdraw consent at any time where we are relying on consent to process your data.</li>
    </ul>

    <h2>7. Stripe</h2>
    <p>
        Fumes is committed to protecting the privacy of its users. We will not
        collect or store any personal information about you without your consent.
        We will only collect information that is necessary to provide you with the
        services you have requested. We will not sell or rent your personal
        information to any third parties.
    </p>

    <p>
        Fumes may use cookies and other tracking technologies to collect and
        analyze data about your use of the platform. We will not use this data for
        any other purpose.
    </p>

    <p>
        Fumes may also use third-party services to provide you with the services you
        have requested. These services may collect and store your personal
        information. We will not use this information for any other purpose.
    </p>

    <p>
        Fumes may also use third-party services to provide you with the services you
        have requested. These services may collect and store your personal
        information. We will not use this information for any other purpose.
    </p>
    <p>We use Stripe for identity document verification. Stripe collects identity document images, facial images, ID
        numbers and addresses as well as advanced fraud signals and information about the devices that connect to its
        services. Stripe shares this information with us and also uses this information to operate and improve the
        services
        it provides, including for fraud detection. You may also choose to allow Stripe to use your data to improve
        Stripe’s
        biometric verification technology. You can learn more about Stripe and read its privacy policy at
        <a href="https://stripe.com/privacy">https://stripe.com/privacy</a>.
    </p>

    <h2>8. Changes to This Privacy Policy</h2>
    <p>We may update this Privacy Policy at any time. When we do, we will post the updated date at the top of this page.
        We encourage users to frequently check this page for any changes to stay informed about how we are helping to
        protect the personal information we collect.</p>

    <h2>Contact</h2>
    <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site,
        please contact us at:</p>

    <p>
        <strong>Email:</strong> <a href="mailto:jason.cardenas@fumes.app">jason.cardenas&#64;fumes.app</a>
    </p>

    <p>Thank you for trusting Fumes with your personal data.</p>



</div>