<div class="tos-container">
  <h1>Terms of Service</h1>
  <h3>
    Terms and Conditions Agreement between User and Fumes (fumes.app,
    owner.fumes.app)
  </h3>
  <p>
    Welcome to fumes.app. The fumes.app website (the "Site") is comprised of
    various web pages operated by Fumes Fleet Management Limited Liability
    Company (dba. "Fumes"). fumes.app is offered to you conditioned on your
    acceptance without modification of the terms, conditions, and notices
    contained herein (the "Terms").
  </p>
  <p>
    Your use of fumes.app constitutes your agreement to all such Terms. Please
    read these terms carefully, and keep a copy of them for your reference.
    fumes.app is an E-Commerce Site. The term Owners in the context of the Fumes
    platform are the providers of vehicle rental service and have an established
    legal entity enveloping their services as well as insurance to protect their
    capital. Services wherein "owners" of rental fleets may conduct agreements
    with a third party renter. Owners of fleets may use the software to store
    data about their vehicles in a fleet. Owners of fleets may enter a rental
    agreement with a "renter" (as person or persons seeking a vehicle rental)
    via the marketplace or created directly from the dashboard. Likewise renters
    may enter a rental agreement with "owners".
  </p>
  <p>
    Fumes provides digital services at a cost for vehicle history, to be
    referred to as "Sniffs". Fumes is not liable for any mistakes or
    inaccuracies on the report. Fumes uses third party providers for vehicle
    data.
  </p>
  <h2>1. Use of the Platform</h2>
  <ol>
    <li>
      Fumes is a fleet management platform that allows users to manage their
      vehicles and process payments through the app.
    </li>
    <li>
      The platform is provided "as is" and "as available" without any warranties
      or guarantees of uptime.
    </li>
    <li>
      Users are solely responsible for their use of the platform and any
      consequences arising from such use.
    </li>
    <li>
      You are granted a non-exclusive, non-transferable, revocable license to
      access and use fumes.app strictly in accordance with these Terms.
    </li>
    <li>
      Fumes may include a marketplace feature that allows rental management
      users to offer their services to other users. The Company is not a party
      to any agreements between users and does not have control over the conduct
      of users or the quality, safety, or legality of the services offered.
    </li>
  </ol>

  <h2>2. Payment Processing and Fees</h2>
  <ol>
    <li>
      Fumes uses Stripe, a third-party payment processor, to handle all payments
      within the app.
    </li>
    <li>
      For each transaction processed through the platform, Fumes charges a fee
      of 2.1% of the total transaction amount. Additionally, Stripe charges a
      fee of 2.9% plus a fixed amount per transaction.
    </li>
    <li>
      These fees cover the costs of maintaining and improving the platform, as
      well as providing customer support and other services.
    </li>
    <li>
      Users are required to process at least 60% of booking payments within the
      app. If it is discovered that a user or host is circumventing paying
      application fees, it can result in account closure.
    </li>
    <li>
      If a user processes less than 60% of booking payments within the app, a
      flat fee of $5 per car managed will be incurred in addition to the
      transaction fees.
    </li>
  </ol>

  <h2>3. Liability and Insurance</h2>
  <ol>
    <li>
      Fumes is not responsible for any loss of income, damage, or claims
      incurred during bookings on cars or any other property managed through the
      platform.
    </li>
    <li>
      The Fumes platform does not provide any insurance or protection for users
      or their vehicles. Fumes is not an insurance company or provider.
    </li>
    <li>
      Users are solely responsible for obtaining appropriate insurance coverage
      for their vehicles and any activities related to the use of the platform.
    </li>
  </ol>

  <h2>4. Prohibited Activities</h2>
  <ol>
    <li>
      Users are prohibited from using the platform in any manner other than its
      intended purpose.
    </li>
    <li>
      Hacking, reverse engineering, or any attempt to manipulate or exploit the
      platform is strictly prohibited.
    </li>
    <li>
      Engaging in any illegal, fraudulent, or unauthorized activities through
      the use of the platform is strictly prohibited.
    </li>
    <li>
      Fumes has the right, but not the obligation, to investigate, pursue, and
      seek to prosecute, litigate, or refer to law enforcement, violations of
      the Agreement to the fullest extent permissible by the law.
    </li>
  </ol>

  <h2>5. Intellectual Property</h2>
  <ol>
    <li>
      All intellectual property rights related to Fumes, including trademarks,
      logos, and copyrights, are owned by the platform and its licensors.
    </li>
    <li>
      Users are granted a limited, non-exclusive, non-transferable, and
      revocable license to use the platform in accordance with these Terms.
    </li>
  </ol>

  <h2>6. User Conduct and Communication Services</h2>
  <ol>
    <li>
      You agree to use the Communication Services only to post, send, and
      receive messages and material that are proper and related to the
      particular Communication Service.
    </li>
    <li>
      You agree not to defame, abuse, harass, stalk, threaten, or otherwise
      violate the legal rights of others, post inappropriate or unlawful
      content, upload files that contain viruses or corrupted files, or falsify
      or delete any author attributions, legal notices, or proprietary
      designations.
    </li>
    <li>
      Fumes reserves the right to review, remove, or edit any content posted on
      the Communication Services at its sole discretion.
    </li>
  </ol>

  <h2>7. Third-Party Accounts and Links</h2>
  <ol>
    <li>
      You may connect your Fumes account to third-party accounts, but Fumes is
      not responsible for the continuous release of information to these
      third-party sites.
    </li>
    <li>
      Fumes may contain links to other websites ("Linked Sites"), but these
      sites are not under the control of Fumes, and Fumes is not responsible for
      their content or any changes or updates to such sites.
    </li>
  </ol>

  <h2>8. Indemnification</h2>
  <ol>
    <li>
      You agree to indemnify, defend, and hold harmless Fumes, its officers,
      directors, employees, agents, and third parties for any losses, costs,
      liabilities, and expenses relating to or arising out of your use of the
      platform, any user postings made by you or person or persons belonging to
      your account, or your violation of any terms of this Agreement, applicable
      laws, rules, or regulations.
    </li>
  </ol>

  <h2>9. Termination and Access Restriction</h2>
  <ol>
    <li>
      Fumes reserves the right to suspend or terminate a user's account at any
      time for any reason, including violation of these Terms.
    </li>
    <li>
      Upon termination, the user's access to the platform will be revoked, and
      any outstanding fees will become immediately due.
    </li>
  </ol>

  <h2>10. Modifications to the Terms</h2>
  <ol>
    <li>
      Fumes reserves the right to modify these Terms at any time without prior
      notice.
    </li>
    <li>
      Continued use of the platform after any modifications constitutes
      acceptance of the updated Terms.
    </li>
  </ol>

  <h2>11. Governing Law and Jurisdiction</h2>
  <ol>
    <li>
      These Terms shall be governed by and construed in accordance with the laws
      of the State of Florida.
    </li>
    <li>
      You consent to the exclusive jurisdiction and venue of courts in Florida
      in all disputes arising out of or relating to the use of the Site.
    </li>
  </ol>

  <h2>12. Limitation of Liability</h2>
  <ol>
    <li>
      To the maximum extent permitted by applicable law, Fumes and its suppliers
      shall not be liable for any direct, indirect, punitive, incidental,
      special, or consequential damages arising out of or in any way connected
      with the use or performance of the platform.
    </li>
  </ol>

  <h2>13. Arbitration and Class Action Waiver</h2>
  <ol>
    <li>
      Any dispute arising out of or concerning these Terms shall be resolved by
      final and binding arbitration conducted by the American Arbitration
      Association or a similar arbitration service.
    </li>
    <li>
      Any arbitration under these Terms will take place on an individual basis;
      class arbitrations and class/representative/collective actions are not
      permitted.
    </li>
  </ol>
  <h2>14. Proper Use of Payment Information</h2>
  <ol>
    <li>
      Account owners and fleet staff are strictly prohibited from misusing
      customer payment information accessible through the Fumes platform.
    </li>
    <li>
      Owners and hosts agree to only charge customers for legitimate bookings
      and services rendered and or products offered through the platform, and
      not to make any unauthorized or fraudulent charges to customer payment
      methods.
    </li>
    <li>
      Any owner or host found to be engaging in fraudulent, unauthorized, or
      improper charging of customer payment methods will face immediate account
      termination and potential legal action.
    </li>
    <li>
      Fumes reserves the right to fully cooperate with law enforcement in the
      event of any fraudulent or unauthorized use of customer payment
      information.
    </li>
    <li>
      Customers who suspect any unauthorized or fraudulent charges should
      immediately report the issue to Fumes and their payment provider.
    </li>
  </ol>
  <h2>15. Owner Responsibilities</h2>
  <ol>
    <li>
      As an owner, you commit that you will provide a safe and legally
      registered and insured vehicle, with current license plates, with a clean
      (non-salvage/branded/written off) title, and in good mechanical condition.
    </li>
    <li>
      As an owner, you commit that you will provide a safe and legally
      registered and insured vehicle, with current license plates, with a clean
      (non-salvage/branded/written off) title, and in good mechanical condition.
    </li>
    <li>
      You will not offer any Vehicle Extra that is not safe, clean, and
      acceptable for the use it is intended.
    </li>
    <li>
      You will not offer any vehicle that is the subject of a missing or stolen
      vehicle report.
    </li>
    <li>
      You will not offer any vehicle that is the subject of a safety recall
      without first properly addressing the matter subject to the recall.
    </li>
  </ol>

  <p>
    By using Fumes, you acknowledge that you have read, understood, and agree to
    be bound by these Terms of Service. If you have any questions or concerns
    regarding these Terms, please contact us at
  </p>
  <hr>

  <span *ngIf="revealed">Orlando, Florida 32801 Email Address: <br />
    Email: <a href="mailto:jason.cardenas@fumes.app">here</a>
  </span>
  <button mat-button *ngIf="!revealed" (click)="revealed = !revealed">
    Click to reveal
  </button>
  Effective as of April 01, 2024
</div>