<div class="container">
    <p class="solutions">
        <om-gradient-text gradientStart="#ff0266" gradientEnd="#4ecdc4" [text]="'Solutions'"></om-gradient-text>
    </p>
    <h1>Fleet Management System</h1>
    <p class="subtitle">Our fleet management system streamlines vehicle operations with essential features like
        real-time tracking, maintenance scheduling, and fuel monitoring. Its intuitive interface helps businesses of all
        sizes make quick, informed decisions without the burden of unnecessary complexity.</p>

    <div class="feature">
        <div class="feature-image">
            <img src="https://utfs.io/f/8267ae9b-8dd2-4b41-a1fe-262c4714b05d-5gyg0b.png" alt="RMS Dashboard">
        </div>
        <div class="feature-text">
            <h2>Comprehensive Vehicle Status</h2>
            <p>This at-a-glance dashboard empowers users with critical information about their vehicle's status,
                facilitating better maintenance planning, resource allocation, and overall vehicle management. Whether
                for personal use or fleet management, this feature enhances the user's ability to keep their vehicles in
                optimal condition and ready for use.</p>
        </div>
    </div>

    <div class="feature">
        <div class="feature-text">
            <h2>Maintenance Profiles</h2>
            <p>Stay on top of your fleet's maintenance with our oil, tire, battery and registration profiles. Keep track
                of these key points of attention to ensure optimal performance and maintain road worthiness. Don't get
                caught up guessing what oil weight the car uses or what brand of tires were on the car before handing to
                your customers.</p>
        </div>
        <div class="feature-image">
            <img src="https://utfs.io/f/669f5d8b-49de-42c4-9ef2-fadb43349725-2cwi.png" alt="Fleet Oil Maintenance">
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://utfs.io/f/9e1fb042-c2b8-4521-b235-90eca6f7973b-w0a605.png" alt="RMS Dashboard">
        </div>
        <div class="feature-text">
            <h2>Income Expense Tracking</h2>
            <p>Keep track of your fleet's income and expenses with our simple income and expense tracking system. Attach
                photos of reciepts and categorize income and expenses by their source.</p>
        </div>
    </div>

</div>