@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define the theme object
// $my-primary: mat.define-palette(mat.$pink-palette, 600);
// $my-accent: mat.define-palette(mat.$cyan-palette, 600);
// $landing-theme: mat.define-light-theme((
//   color: (
//     primary: $my-primary,
//     accent: $my-accent,
//   )
// ));

// My Vars
$app-bg: #fbfbfe;
$primary: #ff0266;
$secondary: #4ecdc4;
$tertiary: #d6dbd2;
$quadrary: #ffde03;
$white: #fff;
$black: #000;
$accent: #4ecdc4;
$warn: #ffc107;
$success: #5ccd56;
$danger: #d91930;
$info: #008dd3;
$tri-gradient: radial-gradient(circle at 11.97% 21%, $primary, transparent 59%),
  radial-gradient(circle at 77.56% 18.89%, #ffc107, transparent 81%),
  radial-gradient(circle at 50% 50%, $white, $white 100%);
$app-gradient: linear-gradient(45deg, $primary, #d61f49);
$app-danger-gradient: linear-gradient(45deg, #eb3349, $primary);
$app-success-gradient: linear-gradient(45deg, $success, #a8e063);
$app-warn-gradient: linear-gradient(45deg, $warn, #edde5d);
$really-light-gray: #f5f5f4;
$light-gray: #e5e5e5;
$medium-gray: #adadad;
$dark-gray: #504f4f;
$really-dark-gray: #333;
$text-on-white: #32325d;
$primary-gradient-transparent: linear-gradient(
  90deg,
  rgba(0, 18, 176, 0.8),
  rgba(255, 255, 255, 0)
);
/* My Vars */
$primary-font: "Noto Sans", sans-serif;
$base-font-color: #3e3e3e;
$body-background: #e0e3ee;
$sideNavWidth: 410px;
$coreNavWidth: 100px;
$default-box-padding: 12px;
@mixin elevation($z) {
  @include mat.elevation($z);
}
@mixin transition($duration, $easing, $prop) {
  -webkit-transition: $prop $easing $duration;
  -moz-transition: $prop $easing $duration;
  -ms-transition: $prop $easing $duration;
  -o-transition: $prop $easing $duration;
  transition: $prop $easing $duration;
}

@mixin transform($prop) {
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -ms-transform: $prop;
  -o-transform: $prop;
  transform: $prop;
}

@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@mixin crisp-image {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes rotateX {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
$mobileWidth: 460px;
$phabletWidth: 600px;
$tabletWidth: 768px;
$desktopWidth: 960px;

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: $mobileWidth) {
      @content;
    }
  } @else if $size == phablet-down {
    @media (max-width: $phabletWidth) {
      @content;
    }
  } @else if $size == tablet-down {
    @media (max-width: $tabletWidth) {
      @content;
    }
  } @else if $size == desktop-down {
    @media (max-width: ( $desktopWidth)) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: ( $tabletWidth + 1px)) {
      @content;
    }
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}
@keyframes marquee {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@mixin query-print {
  @media print {
    @content;
  }
}
// My Styles
$my-primary: mat.m2-define-palette(mat.$m2-pink-palette, 600);
$my-accent: mat.m2-define-palette(mat.$m2-cyan-palette, 600);
$landing-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      )));

// Include theme styles for core and each component
:root {
  @include mat.all-component-themes($landing-theme);
}

html {
  background: linear-gradient(45deg, #fafbfd, #ecf2fa, #ebf2f8, #fef3f4);
}

html,
body {
  height: auto;
  background-size: cover;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $primary-font;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

body {
  margin: 0;
  font-family: $primary-font;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

p.error {
  color: $danger;
}

mat-icon {
  &.icon-24 {
    width: 50px;
    font-size: 50px;
  }

  &.icon-50 {
    width: 50px;
    font-size: 50px;
  }

  &.icon-100 {
    width: 100px;
    font-size: 100px;
  }
}

a {
  touch-action: manipulation;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &.internal-link {
    text-decoration: underline;
    color: $primary;
  }

  &:visited {
    color: inherit;
  }
}

hr {
  display: block;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: $light-gray;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;

  >* {
    width: 100%;
  }
}

a.link {
  text-decoration: underline;
  font-size: 0.65rem;
  color: $primary;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateOut {
  from {
    opacity: 1;
    transform: rotateY(0deg);
  }

  to {
    opacity: 0;
    transform: rotateY(-30deg);
  }
}

dialog {
  border: none;
  border-radius: 12px;
  padding: 0;

  &[open] {
    animation: fadeIn 0.3s ease-out;
  }

  &.closing {
    transform: rotateY(-15deg) rotateX(-15deg);
    transition: all ease 300ms;
  }

  .inner-dialog {
    transition: all 0.3s ease-in-out;
    position: relative;
    height: 600px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;

    .text {
      border-radius: 12px;
      padding: 12px 24px;
      width: 100%;
      height: 50%;
      background: #fff;
      text-align: center;
    }

    .img-container {
      border-radius: 12px 12px 0 0;
      position: relative;
      height: 50%;
      width: 100%;
      overflow: clip;
      background: #00bac9;

      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 302px;
        left: 50%;
        margin-left: -151px;
      }
    }

    .closeBtn {
      z-index: 1;
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }
}
